*~
theme/16x16
theme/scalable
theme/icon-theme.cache
theme/clarity-icons-*.tar.gz
theme/clarity-icons_*_all
theme/clarity-icons_*.deb
theme/clarity-icons-*.rpm
theme/rpmbuild
web/vendor
web/cache
web/icons.json
web/icons-stats.json
web/icons
web/.php-cs-fixer.cache
web/.env
web/test-email.php
