Source: clarity-icon-theme
Section: gnome
Priority: optional
Maintainer: Jakub Jankiewicz <jcubic@onet.pl>
Build-Depends: debhelper (>= 7), librsvg2-bin
Standards-Version: 3.9.1
Homepage: http://gnome-look.org/content/show.php?content=135654

Package: clarity-icon-theme
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: clarity-icon-theme
Provides: clarity-icon-theme
Replaces: clarity-icon-theme
Description: Clarity Vector Icon theme for GTK
 Clean monoshape icons in seven predefined color themes (in five colors) 
 default is grey gradient. You can also create your own template.
