<header class="site-header">
  <div class="container site-nav">
    <a class="brand" href="/" aria-label="Clarity icon theme — home">
      <svg class="brand-mark" viewBox="0 0 24 24" aria-hidden="true">
        <path id="clarity-logo" style="fill:currentColor;fill-opacity:1;stroke:none;" d="M 3.9566092,-5e-7 C 1.7817371,-5e-7 1.5e-7,1.7817375 1.5e-7,3.9566095 V 20.043777 c 0,2.174873 1.78173695,3.956224 3.95660905,3.956224 H 20.043777 C 22.21865,24 24,22.21865 24,20.043777 V 3.9566095 C 24,1.7817375 22.21865,-5e-7 20.043777,-5e-7 Z m 0,1.981012 H 20.043777 c 1.111867,0 1.976758,0.863731 1.976758,1.975598 V 20.043777 c 0,1.111866 -0.864891,1.976757 -1.976758,1.976757 H 3.9566092 c -1.1118661,0 -1.9755961,-0.864891 -1.9755961,-1.976757 V 3.9566095 c 0,-1.111867 0.86373,-1.975598 1.9755961,-1.975598 z m 10.9027258,1.853356 c -5.1071108,0 -9.1449199,5.335619 -9.1449199,10.7858995 0,3.552782 1.38936,5.546526 4.7604639,5.546526 2.846258,0 5.999903,-1.557232 5.999903,-3.051015 0,-0.282603 -0.120525,-0.641379 -0.282005,-1.085476 -1.312116,1.251548 -2.994762,2.119501 -4.367435,2.119501 -1.9782468,0 -2.8800298,-1.410364 -2.8800298,-3.751969 0,-3.472031 1.6331808,-8.9054665 4.8629768,-8.9054665 1.493783,0 2.197474,0.831727 2.581004,2.487001 1.150623,-0.504663 1.897454,-1.173907 1.897454,-2.102481 0,-1.433216 -1.509718,-2.04252 -3.427412,-2.04252 z" />
      </svg>
      Clarity
    </a>
    <nav aria-label="Primary">
      <ul class="nav-links">
        <li><a href="/#install">Install</a></li>
        <li><a href="/#variants">Variants</a></li>
        <li><a href="/#gallery">Gallery</a></li>
        <li><a href="/#create">Make your own</a></li>
        <li><a href="/#contribute">Contribute</a></li>
      </ul>
    </nav>
    <a class="nav-cta" href="https://github.com/jcubic/Clarity" rel="noopener">
      <svg viewBox="0 0 24 24" width="14" height="14" aria-hidden="true"><use href="#i-github"/></svg>
      GitHub
    </a>
  </div>
</header>
